{{#if updateQuestionForm}}
  <h5>Update {{question.author}}'s Question</h5>
    <div>
      <form>

        

        <div class="form-group">
          <label for="post">Post</label>
          {{input value=post id="post" placeholder=post.body}}
        </div>


        <button  class="btn-custom btn-sm" {{action 'update' question}}>Save</button>
      </form>
    </div>
{{else}}

    <button class="btn-custom btn-sm" {{action 'updateQuestionForm'}}>Update</button>
{{/if}}
